pipeline/Incremental Data Using Stored Pro Pipeline.json
{
	"name": "Incremental Data Using Stored Pro Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get HWMDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaNameParam": "dbo",
							"TableNameParam": "watermark"
						}
					}
				}
			},
			{
				"name": "Get LastModifiedDate From Courses Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as lastmodifieddate from dbo.courses",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaNameParam": "dbo",
							"TableNameParam": "courses"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Courses Table To IncremetalData Folder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get LastModifiedDate From Courses Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get HWMDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.courses where ModifiedDate > '@{activity('Get HWMDate').output.firstRow.last_modified_date}' and ModifiedDate <= '@{activity('Get LastModifiedDate From Courses Table').output.firstRow.lastmodifieddate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaNameParam": "dbo",
							"TableNameParam": "courses"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_CSV_Generic_DS",
						"type": "DatasetReference",
						"parameters": {
							"FolderPathParam": "ABC"
						}
					}
				]
			},
			{
				"name": "Update HWMDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Courses Table To IncremetalData Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[watermark_usp]",
					"storedProcedureParameters": {
						"lmd": {
							"value": {
								"value": "@{activity('Get LastModifiedDate From Courses Table').output.firstRow.lastmodifieddate}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"tablename": {
							"value": {
								"value": "@{activity('Get HWMDate').output.firstRow.tablename}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQL_DB_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-10T12:47:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}